# Brevo Templates UK
VITE_BREVO_DOI_CONFIRM_UK=2
VITE_BREVO_DOI_WELCOME_UK=4
VITE_BREVO_ORDER_PLACED_UK=5
VITE_BREVO_ORDER_CONFIRMED_UK=6
VITE_BREVO_ORDER_IN_TRANSIT_UK=7
VITE_BREVO_ORDER_DELIVERED_UK=8
VITE_BREVO_ORDER_CANCELLED_UK=9

# Brevo Templates EN
VITE_BREVO_DOI_CONFIRM_EN=11
VITE_BREVO_DOI_WELCOME_EN=12
VITE_BREVO_ORDER_PLACED_EN=15
VITE_BREVO_ORDER_CONFIRMED_EN=17
VITE_BREVO_ORDER_IN_TRANSIT_EN=19
VITE_BREVO_ORDER_DELIVERED_EN=21
VITE_BREVO_ORDER_CANCELLED_EN=23

# Brevo Templates DE
VITE_BREVO_DOI_CONFIRM_DE=13
VITE_BREVO_DOI_WELCOME_DE=14
VITE_BREVO_ORDER_PLACED_DE=16
VITE_BREVO_ORDER_CONFIRMED_DE=18
VITE_BREVO_ORDER_IN_TRANSIT_DE=20
VITE_BREVO_ORDER_DELIVERED_DE=22
VITE_BREVO_ORDER_CANCELLED_DE=24
VITE_BREVO_SENDER_NAME=Komora
VITE_BREVO_SENDER_EMAIL=olexandr.prykhodko@gmail.com
